.bolsaTrabajo-page{ min-height:100vh; background:linear-gradient(180deg,#f7fbff,#f3f7fb); position:relative }
.bolsaTrabajo-blank{ width:100%; margin-left: 120px;}
.marcoDeTrabajo {
  margin-top: 20px;
  margin-bottom: 20px;  
  width: 1300px;
  height: 200px;
  border: 3px solid rgb(53, 123, 193);
  
}
.linea {
  border: none;        
  height: 2px;         
  background-color: rgb(53, 123, 193); 
  width: 1300px;          
  margin: 20px 0;       
}
.botonBolsa {
  background-color: rgb(53, 123, 193); 
  color: white; 
  position: right;
  padding: 10px 20px;
}
.oculto{ display: none; }
.visible{ display: block; }